@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p {
    margin: 0px;
}

.container {
    margin: 50px auto;
}

.card {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card .fas.fa-arrow-right {
    position: absolute;
    bottom: -100px;
    background-color: #4e9525;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: gold;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

.card:hover .fas.fa-arrow-right {
    bottom: 0px;
    opacity: 1;
}

.card .fab.fa-envira,
.fas.fa-cut,
.fas.fa-people-carry {
    font-size: 40px;
    background-color: #0000000d;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #4e9525;
}

.card .h4 {
    font-weight: 700;
}

.container .content {
    max-width: 300px;
}

.container .content .h-6 {
    color: #4e9525;
    font-weight: 600;
}

.container .content .btn.btn-primary {
    padding: 15px;
    background-color: #4e9525;
    color: white;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.card:hover .fab.fa-envira,
.card:hover .fas.fa-cut,
.card:hover .fas.fa-people-carry {
    color: gold;
    background-color: #4e9525;
}

@media (max-width:990px) {
    .container .content {
        max-width: 100%;
    }
}

@media (max-width:500px) {
    body {
        padding: 25px;
    }

    .card {
        width: 100%;
    }

    .content {
        padding: 25px;
    }
}