$header-logo-width : 30px;
$header-logo-height: 30px;
$background-image: url(../images/background.jpg);
$error-red: #dc3545;
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;