@import "variables";

body{
    background-image: $background-image;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#header-logo{
    width: $header-logo-width; 
    height: $header-logo-height;
}

#content{
    min-height: calc(100vh - 56px - 56px);
}

/* Repeating table header hack */

thead {display: table-header-group;}
tfoot {display: table-footer-group;}

/* Parsley styling */
.parsley-errors-list{
    padding-left:0.75em;
}
.parsley-custom-error-message{
    font-size: 0.85em;
    color:$error-red;
    list-style: none;
}
.parsley-error{
    border:1px solid $error-red;
    background-color: #ea868f;
    color:#fff;
    
}
.parsley-error::placeholder{
    color:#fff;
}